#user-screen {
    width: 480px;
    height: 300px;
    font-size: 20px;
    font-weight: 800;

    text-align: center;
    line-height: 100px;
    background-color: rgba(207, 216, 232, 0.72);
    color: rgba(80, 150, 244, 0.9);
    border-radius: 10px;
}

#match-button, #record_all, #record_self{
    width: 280px;
    height: 50px;
    font-size: 18px;
    color: aliceblue;
    background-color: rgba(80, 150, 244, 0.9);
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;

    line-height: 50px;

    margin-top: 32px;
}

#match-button:active {
    background-color: rgba(209, 168, 226, 0.80);
    /* color: rgba(80, 150, 244, 0.9); */
}
.nav .title {
    flex-grow: 2;
}

